<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormMenuUtama_Login.My.MySettings.DB_MICUConnectionString"
            connectionString="Data Source=LAPTOP-JED9U8O1\SQLEXPRESS;Initial Catalog=DB_MICU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>